[submodule "cookie-ui"]
	path = modules/cookie-ui
	url = git@github.com:audacious-software/Cookie-UI-Module.git
[submodule "cookies"]
	path = modules/cookies
	url = git@github.com:audacious-software/Extension-Cookie-Module.git
[submodule "screenshot"]
	path = modules/screenshot
	url = git@github.com:audacious-software/Screenshot-Module.git
